/* //global index.css */
@tailwind base;
@tailwind components;
@tailwind utilities;

/* add the code bellow */
@layer utilities {
  @variants responsive {
    /* Hide scrollbar for Chrome, Safari and Opera */
    .no-scrollbar::-webkit-scrollbar {
      display: none;
    }

    /* Hide scrollbar for IE, Edge and Firefox */
    .no-scrollbar {
      -ms-overflow-style: none; /* IE and Edge */
      scrollbar-width: none; /* Firefox */
    }
  }
}
.react-tagsinput--focused {
  border-color: #c5dbff !important;
}

:where(.css-1vr7spz).ant-input-affix-wrapper > input.ant-input {
  padding: 0;
  font-size: inherit;
  border: none;
  border-radius: 0;
  outline: none;
  background-color: #f4f4f4;
}
.react-tagsinput {
  background-color: #fff;
  border: 3px solid #ccc;
  overflow: hidden;
  border-radius: 5px !important;
  padding-left: 5px;
  padding-top: 10px !important;
  padding-bottom: 5px !important;
}
.react-tagsinput-tag {
  background-color: rgba(221, 255, 221, 0.5) !important;
  border-radius: 2px;
  border: 1px solid #89dc05 !important;
  color: green !important;
  display: inline-block;
  font-family: sans-serif;

  font-size: 15px !important;
  font-weight: 400;
  margin-bottom: 5px;
  margin-right: 5px;
  padding: 5px 10px !important;
}

:where(.css-1vr7spz).ant-btn-primary {
  color: #fff;
  background-color: #1677ff !important;
  box-shadow: 0 2px 0 rgba(5, 145, 255, 0.1);
}

p {
  margin-bottom: 0rem;
}

* {
  font-family: "Times New Roman", Times, serif;
}

/* .btn-primary {
  --bs-btn-color: #fff;
  --bs-btn-bg: #0d6efd;
  --bs-btn-border-color: #0d6efd;
  --bs-btn-hover-color: #fff;
  --bs-btn-hover-bg: #0b5ed7;
  --bs-btn-hover-border-color: #0a58ca;
  --bs-btn-focus-shadow-rgb: 49, 132, 253;
  --bs-btn-active-color: #fff;
  --bs-btn-active-bg: #0a58ca;
  --bs-btn-active-border-color: #0a53be;
  --bs-btn-active-shadow: inset 0 3px 5px rgba(0, 0, 0, 0.125);
  --bs-btn-disabled-color: #fff;
  --bs-btn-disabled-bg: #0d6efd;
  --bs-btn-disabled-border-color: #0d6efd;
} */
